:root{
    --primary: #a2001d;
    --secondary: #100e34;
    --bg: #f8f8f8;
    --bg2: #eaebf0;
    --text: #100e34;
    --nav-text: #666872;
    --rad-sm: 10px;
    --rad-lg: 80px;
    --font: sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}
body, html{
    background: var(--bg);
    overflow-x: hidden;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 300;
    background: rgba(248, 248, 248, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 0 0 var(--rad-lg) var(--rad-lg);
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 30px;
}
header nav .nav{
    display: flex;
    align-items: center;
    gap: 90px;
}
nav .nav a{
    text-decoration: none;
    color: var(--nav-text);
}
nav .nav a:hover{
    color: #86878b;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    position: relative;
    margin-top: 50px;
}
.hero .text{
    display: flex;
    align-items: center;
}
.hero .text h3{
    font-size: 60px;
    font-weight: 900;
}
.hero .img-cont{
    content: '';
    background: url('../img/pic1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* flex: 50%; */
    width: 600px;
    height: 300px;   
}
span{
    color: var(--primary);
}
.btn-drk{
    color: var(--bg);
    background: var(--secondary);
    border-radius: var(--rad-lg);
    font-size: 15px;
    font-weight: 400;
    border: none;
    width: 120px;
    height: 40px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s all ease;
}
.btn-drk:hover{
    opacity: 0.9;
}
.btn-drk:active{
    transform: translateX(10px);
}
.hero .text .btn-drk{
    position: relative;
    left: 180px;
    bottom: 60px;
}
.hero .controls{
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 90px;
    right: 200px;
}
.hero .controls button{
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: var(--rad-lg);
    border: none;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: .2s all ease;
}
.hero .controls .disabled{
    /* color: #666872; */
    opacity: 0.5;
}
.hero .controls button:hover{
    box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.1);
}
.filter-cont{
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-cont .filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-radius: var(--rad-lg);
    /* gap: 50px; */
    /* background-color: #fff; */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 40%;
    height: 80px;
}
.filter-cont .filter .filter-options{
    /* background-color: yellow; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-cont .filter .filter-options select{
    height: 100%;
    width: 100%;
    font-size: 17px;
    background: none;
    border: none;
    cursor: pointer;
}
.filter-cont .filter .search-btn{
    height: 40px;
    width: 40px;
    border-radius: var(--rad-lg);
    border: none;
    font-size: 18px;
    background: var(--primary);
    color: var(--bg);
    cursor: pointer;
    transition: .2s all ease;
}
.filter-cont .filter .search-btn:hover{
    opacity: 0.8;
}
.filter-cont .filter .search-btn:active{
    transform: scale(0.9);
}
.brands-section, .products-section, .services-section, .feedback-section{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin: 100px 0;
}
.brands-section .content, .products-section .content, .services-section .content, .feedback-section .content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.title h3{
    font-size: 30px;
    color: var(--nav-text);
    font-weight: 100;
}
.title .line{
    width: 300px;
    height: 2px;
    background: var(--nav-text);
    opacity: 0.7;
    border-radius: var(--rad-lg);
}
.brands-section .content .brands-container{
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
}
.products-section{
    background-color: var(--bg2);
    padding: 50px 0;
    height: 650px;
}
.products-section .filters{
    margin: 20px 0;
    /* width: 70%; */
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-around; */
    gap: 30px;
}
.products-section .filters .filter{
    text-decoration: none;
    color: var(--nav-text);
    font-size: 17px;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--rad-lg);
}
.products-section .filters .filter.active{
    background: var(--primary);
    color: var(--bg);
}

.products-section .products-container{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    overflow-x: auto;
}
.products-section .products-container .product{
    display: flex;
    position: relative;
}
.products-section .product .img{
    position: relative;
    top: 80px;
    left: 50px;
    width: 300px;
    height: 220px;
    border-radius: var(--rad-sm);
}
.products-section .product .img img{
    object-fit: cover;
    border-radius: var(--rad-sm);
    width: 100%;
    height: 100%;
}


.products-section .product .details{
    border-radius: var(--rad-sm);
    padding: 10px;
    height: 355px;
    width: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-weight: 100;
}
.products-section .product .details .top{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.products-section .product .details .top h3{
    font-size: 27px;
    font-weight: 100;
}

.products-section .product .details .other{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    /* left: 50px; */
    right: 20px;
    top: 100px;
    width: 220px;
}
.fade{
    opacity: 0.7;
}
.products-section .product .details .other .det{
    display: flex;
    justify-content: space-between
}
.products-section .product .details .other .price{
    font-size: 26px;
}
.products-section .product .details .other .btn-drk{
    width: 100%;
    justify-content: space-between;
    padding: 0px 24px;
    font-weight: 600;
}

.services-section .content .sub-head{
    text-align: center;
    margin: 20px 0;
    font-weight: 100;
    color: var(--nav-text);
}
.services-section .content .services-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.services-container .service{
    width: 380px;
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.267);
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: var(--rad-sm);
    cursor: pointer;
    transition: .4s all ease-in-out;
}
.services-container .service:hover{
    transform: scale(1.04);
    transform: translateY(-10px);
}
.services-container .service i{
    font-size: 40px;
    color: var(--primary);
}
.services-container .service h3{
    font-size: 22px;
}
.services-container .service p{
    font-weight: 100;
}

.feedback-section .content .feedback-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 300px;
    flex-wrap: wrap;
}
.feedback-section .content .feedback-container .feedback{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 360px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: var(--rad-sm);
    padding: 20px;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.feedback-section .content .feedback-container .active{
    border-left: 4px solid var(--primary);
}

.feedback-container .feedback .profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.feedback-container .feedback .profile img{
    width: 80px;
    height: 80px;
    border-radius: var(--rad-lg);
}
.feedback-container .feedback .profile .profile-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile-details h5{
    font-weight: 100;
}
.feedback-container .feedback p{
    font-weight: 100;
    line-height: 19px;
    letter-spacing: 0.4px;
    color: var(--nav-text);
}

.feedback-section .content .feedback-container .feedback:hover{
    transform: translateY(-10px);
}
footer{
    /* background: rgba(0, 0, 0, 0.9); */
    /* color: var(--bg); */
    border-top: 2px solid var(--secondary);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    border-radius: 30px 30px 0 0;
  }
  
  footer .pts{
    display: flex;
    gap: 50px;
  }
  .pt img{
    width: 150px;
  
  }
  .pt{
    display: flex;
    flex-direction: column;
    flex: 50%;
    gap: 20px;
  }
  .pt .navs{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .pt .navs p{
    display: flex;
    gap: 10px;
  }
  .pt .navs a{
    color: var(--nav-text);
    text-decoration: none;
    transition: .2s all ease;
  }
  .pt .navs a:hover{
    color: var(--primary);
  }
  .pt .social-links{
    /* color: var(--nav-text); */
    display: flex ;
    flex-direction: row;
    align-items: center;
  }
  .pt .social-links a{
    color: var(--nav-text);
    font-size: 20px;
    transition: .1s all ease;
    padding: 10px;
  }
  .pt .social-links a:hover{
    color: var(--primary);
    transform: translateY(-10px);
  }
  .inp-group{
    display: flex;
    height: 40px;
    width: 240px;
  }
  .inp-group input{
    width: 100%;
    border-radius: 8px 0 0 8px;
    outline: 0;
    padding: 0 10px;
    border: 2px solid black;
  }
  .inp-group button{
    border-radius: 0 8px 8px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: var(--primary);
    color: var(--bg);
    font-size: 18px;
    transition: .2s all ease;
  }
  .inp-group button:hover{
    opacity: 0.8;
  }
  .inp-group button:active{
    opacity: 0.9;
  }
  .inp-group input, .inp-group button{
    border: none;
  }
  .pt-1{
    flex: 65%;
  }
  .pt-2{
    flex: 5%;
  }
  .pt-3{
    flex: 5%;
  }
  .pt-4{
    flex: 25%;
  }
  
  .footer-text{
    text-align: center;
    opacity: 0.8;
    font-size: 17px;
  }