*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f4f4f4;
}

.profile-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 370px;
	width: 100%;
	background-color: white;
	border-radius: 24px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	position: relative;
}
.profile-card::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-color: #4070f4;
	border-radius: 24px 24px 0 0;
	width: 100%;
	height: 36%;
}
.image {
	position: relative;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	background-color: #4070f4;
	padding: 3px;
	margin-bottom: 10px;
}

.image .profile-img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid white;
}

.text-data{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text-data .name{
	font-size: 22px;
	font-weight: 500;
}
.text-data .job{
	font-size: 12px;
	font-weight: 200;
}

.social {
	display: flex;
	align-items: center;
	margin-top: 10px;
}
.social .button{
	display: flex;
	align-items: center;
	color: white;
	padding: 10px;
	font-size: 18px;
	border-radius: 50%;
	margin: 0 8px;
	background-color: #4070f4;
	text-decoration: none;
	opacity: 0.7;
	transition: all 0.2 ease;
}
.social .button:hover{
	opacity: 1;
}

.buttons{
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.buttons .button{
	font-size: 15px;
	font-weight: 400;
	color: white;
	border: none;
	background-color: #4070f4;
	margin: 0 10px;
	padding: 8px 17px;
	border-radius: 24px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.buttons .button:hover{
	opacity: 0.9;
}
.analytics{
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.analytics .data{
	display: flex;
	align-items: center;
/*	margin: 0 16px;*/
	padding: 0 20px;
	border-right: 2px solid lightgrey;

}

.data i{
	font-size: 18px;
	margin-right: 2px;
}

.data:last-child{
	border-right: none;
}